
  <div class="topnav">
      <a class="active" href="#home">Memberid</a>
     
      <div class="search-container">
              <input  type="text" placeholder="Search.." (change)="displayData($event)"name="search">
          
        
          </div>
    </div>
    <div *ngIf="isData">
        <p>
            member id:{{searchVal}}<br>
            teamid:1<br>
            FirstName:jaya<br>
            LastName:reddy<br>
        </p>
    </div>